extends layout.pug

block content
    h1 Find Resto by cuisine and by borough

    modal-dialog.mb-2
        .modal-content
          .modal-body
            form(role='form' method='GET' action='/explore')
                div.form-group
                    label(for='borough') Borough:
                    select#borough.form-select(aria-label="Default select example" name='borough')
                        option(selected) Open this select menu
                        each borough in boroughs
                            option= borough
                div.form-group
                    label(for='cuisine') Cuisine:
                    select#cuisine.form-select(aria-label="Default select example" name='cuisine')
                        option(selected) Open this select menu
                        each cuisine in cuisines
                            option= cuisine
                input#name.form-control(type="submit", value="Search")

    div.list-group.w-auto
        each resto in restos
            div.d-flex.gap-2.w-100.justify-content-between
                div
                    h6.mb-0= resto.name
                    p.mb-0= resto.cuisine
                    p.mb-0.opacity-75= resto.address.building  +" "+ resto.address.street +" "+ resto.address.zipcode +" "+ resto.borough
        
